.wrapper-tab-section {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 5px !important;
    width: 100%;
    margin: 15px auto;
    height: 590px;
}
.activityHistory-body {
    border-radius: 5px;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.activityHistory-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 450px;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(201, 201, 222, 0.15) 0px 2px 5px 0px,
        rgba(134, 134, 134, 0.05) 0px 1px 1px 0px;
}
.activityHistory-heading {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(158, 158, 158);
}
.activityHistory-body-content {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.activityHistory-body-contentSTT {
    font-size: 16px;
    color: rgb(234, 99, 99);
    font-weight: 600;
    width: 35px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid rgb(234, 99, 99);
    border-radius: 15px;
}
.activityHistory-body-contentDescription {
    padding-left: 20px;
    padding-right: 20px;
    width: 450px;
    line-height: 1.5;
    height: auto;
    max-height: 65px;
    letter-spacing: 0.1px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 500 !important;
    color: rgb(119, 119, 119);
}

.activityHistory-body-contentDate {
    line-height: 1.2;
    width: 320px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 400;
    align-items: center;
    color: rgb(141, 141, 141);
}
.activityHistory-body-contentDate span {
    width: 80px;
}
.activityHistory-body-contentDate p {
    font-size: 16px;
    font-weight: 500;
}
.tabs {
    position: relative;
    margin: 1.5rem 0;
    background: #49c2c2;
    height: 17rem;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.567em;
    background: #49c2c2;
    border-right: 0.125rem solid #41b9b9;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
.tab-content {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
    background: #efffff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}
.tab-content-none {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(125, 122, 122);
    font-size: 18px;
    width: 100%;
    height: 100%;
}
