.deliveryExchange {
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px 10px;
    border-radius: 5px;
}
.deliveryExchange-title {
    font-size: 28px;
    color: rgb(94, 94, 94);
    margin-bottom: 10px;
}
.deliveryExchange-desc {
    font-size: 18px;
    line-height: 1.3;
    color: rgb(94, 94, 94);
    margin-bottom: 10px;
}
.deliveryExchange-subDesc {
    font-size: 16px;
    line-height: 1.4;
    color: rgb(94, 94, 94);
    margin-bottom: 10px;
}
