.policy {
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px 10px;
    border-radius: 5px;
}
.policy-title {
    font-size: 28px;
    color: rgb(94, 94, 94);
    margin-bottom: 10px;
}
.policy-desc {
    font-size: 18px;
    line-height: 1.3;
    color: rgb(94, 94, 94);
    margin-bottom: 10px;
}
.policy-subDesc {
    font-size: 16px;
    line-height: 1.2;
    color: rgb(94, 94, 94);
    margin-bottom: 10px;
}
