@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.popup-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 370px;
    height: 300px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out,
        transform 1000ms ease-in-out;
}
.popup.active {
    left: 50%;
    position: absolute;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
.popup .icon {
    margin: 5px 0px;
    width: 60px;
    height: 60px;
    border: 2px solid #30c1bf;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}
.popup .icon i.fa {
    font-size: 45px;
    color: #30c1bf;
}
.popup .title {
    margin: 10px 0px;
    font-size: 28px;
    font-weight: 600;
}
.popup .description {
    color: rgb(92, 92, 92);
    font-size: 16px;
    padding: 2px;
    font-weight: 500;
    line-height: 1.5;
}
.popup .dismiss-btn {
    margin-top: 15px;
}
.popup .dismiss-btn button {
    text-transform: uppercase;
    padding: 10px 30px;
    color: #f5f5f5;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    background-color: #30c1bf;
    cursor: pointer;
    transition: all 0.2s linear;
}
.popup .dismiss-btn button:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #30c1bf;
    background: #f5f5f5;
    border: 1px solid #30c1bf;
    transition: all 0.2s linear;
}
.popup > div {
    position: relative;
    top: 10px;
    opacity: 0;
}
.popup.active > div {
    top: 0px;
    opacity: 1;
}
.popup.active .icon {
    transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
    transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
    transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}
.red {
    color: #e03550 !important;
}
.green {
    color: #30c1bf !important;
}
