.profile-nav,
.profile-info {
    margin-top: 30px;
}
.profile-nav {
    padding: 5px !important;
}
.profile-nav .user-heading {
    background: url("../../images/background-profile.png") no-repeat center
        center/cover !important;
    background-size: 100% 120%;
    background-position: center center;
    height: 100%;
    color: #fff;
    text-align: center;
}
.profile-nav #user-heading {
    background: url("../../images/background-profile-rotate.png") no-repeat
        center center/cover !important;
    background-size: 100% 100%;
    background-position: center center;
    border-radius: 5px 5px 0 0 !important;
    -webkit-border-radius: 5px 5px 0 0 !important;
    width: 100%;
    padding: 30px;
}

.profile-nav .user-heading.round a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
}

.profile-nav .user-heading a img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 22px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-nav .user-heading p {
    text-overflow: ellipsis;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2em;
    text-align: justify;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-nav ul {
    margin-top: 1px;
}

.profile-nav ul > li {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px;
}

.profile-nav ul > li:last-child {
    border-bottom: none;
}

.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
    border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover,
.profile-nav ul > li > a:focus,
.profile-nav ul li.active a {
    background: #f8f7f5 !important;
    border-left: 5px solid #0db0ba;
    color: #0db0ba !important;
}
.profile-nav ul li a {
    font-weight: 500;
}

.profile-nav ul > li:last-child > a:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i {
    font-size: 16px;
    padding-right: 10px;
    color: #0db0ba;
}

.r-activity {
    margin: 6px 0 0;
    font-size: 12px;
}

.p-text-area,
.p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px;
}
.profile-info .panel-footer {
    background-color: #f8f7f5;
    border-top: 1px solid #e7ebee;
}

.profile-info .panel-footer ul li a {
    color: #7a7a7a;
}

.bio-graph-heading {
    background: linear-gradient(to right top, #1ab1d2, #1bb697);
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 20px 110px;
    border-radius: 4px 4px 2px 2px;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 20px;
    letter-spacing: 0.1px;
    font-weight: 500;
    line-height: 22px;
    position: relative;
}

.bio-graph-info {
    color: #0db0ba;
}

.bio-graph-info h1 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 22px;
    margin-top: 0;
}

.bio-row {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding: 0 20px;
    line-height: 1.4;
}
.bio-row p {
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    color: rgb(95, 95, 95);
}

.bio-row p span {
    color: rgb(141, 141, 141);
    width: 140px;
    font-weight: 400;
    display: inline-block;
}

.bio-chart,
.bio-desk {
    float: left;
}

.bio-chart {
    width: 40%;
}

.bio-desk {
    width: 60%;
}

.bio-desk h4 {
    font-size: 15px;
    font-weight: 400;
}

.bio-desk h4.terques {
    color: #4cc5cd;
}

.bio-desk h4.red {
    color: #e26b7f;
}

.bio-desk h4.green {
    color: #97be4b;
}

.bio-desk h4.purple {
    color: #caa3da;
}

.file-pos {
    margin: 6px 0 10px 0;
}

.profile-activity h5 {
    font-weight: 300;
    margin-top: 0;
    color: #c3c3c3;
}

.summary-head {
    background: #ee7272;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #0db0ba;
}

.summary-head h4 {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.summary-head p {
    color: rgba(255, 255, 255, 0.6);
}

ul.summary-list {
    display: inline-block;
    padding-left: 0;
    width: 100%;
    margin-bottom: 0;
}

ul.summary-list > li {
    display: inline-block;
    width: 19.5%;
    text-align: center;
}

ul.summary-list > li > a > i {
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
}

ul.summary-list > li > a {
    padding: 10px 0;
    display: inline-block;
    color: #818181;
}

ul.summary-list > li {
    border-right: 1px solid #eaeaea;
}

ul.summary-list > li:last-child {
    border-right: none;
}

.activity {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.activity.alt {
    width: 100%;
    float: right;
    margin-bottom: 10px;
}

.activity span {
    float: left;
}

.activity.alt span {
    float: right;
}
.activity span,
.activity.alt span {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #eee;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.activity.terques span {
    background: #8dd7d6;
}

.activity.terques h4 {
    color: #8dd7d6;
}
.activity.purple span {
    background: #b984dc;
}

.activity.purple h4 {
    color: #b984dc;
}
.activity.blue span {
    background: #90b4e6;
}

.activity.blue h4 {
    color: #90b4e6;
}
.activity.green span {
    background: #aec785;
}

.activity.green h4 {
    color: #aec785;
}

.activity h4 {
    margin-top: 0;
    font-size: 16px;
}

.activity p {
    margin-bottom: 0;
    font-size: 13px;
}

.activity .activity-desk i,
.activity.alt .activity-desk i {
    float: left;
    font-size: 18px;
    margin-right: 10px;
    color: #bebebe;
}

.activity .activity-desk {
    margin-left: 70px;
    position: relative;
}

.activity.alt .activity-desk {
    margin-right: 70px;
    position: relative;
}

.activity.alt .activity-desk .panel {
    float: right;
    position: relative;
}

.activity-desk .panel {
    background: #f4f4f4;
    display: inline-block;
}
.nav-stacked li a {
    font-size: 15px;
}
.activity .activity-desk .arrow {
    border-right: 8px solid #f4f4f4 !important;
}
.activity .activity-desk .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -7px;
    position: absolute;
    top: 13px;
    width: 0;
}

.activity-desk .arrow-alt {
    border-left: 8px solid #f4f4f4 !important;
}

.activity-desk .arrow-alt {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    right: -7px;
    position: absolute;
    top: 13px;
    width: 0;
}

.activity-desk .album {
    display: inline-block;
    margin-top: 10px;
}

.activity-desk .album a {
    margin-right: 10px;
}

.activity-desk .album a:last-child {
    margin-right: 0px;
}
.form-body {
    width: 600px;
}
.form-body-item {
    margin-bottom: 20px;
    padding-left: 0;
}
.form-body-item label {
    color: #89817f;
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 500;
}
.form-body-btn {
    margin-top: 10px;
    width: 150px;
    border: none;
    outline: none !important;
    height: 40px;
    display: block;
}
.btn-successCustom {
    background: #30c1bf;
    color: #fff;
    outline: none !important;
    border: none !important;
    transition: all 0.2s linear;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
}
.btn-successCustom:hover {
    background: rgb(88, 213, 211);
    color: #fff !important;
    transition: all 0.2s linear;
}

.profile-images-card {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.profile-images-card label {
    margin-bottom: 10px;
    font-size: 17px;
    color: #89817f;
    font-weight: 500;
}
.profile-images {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ebffff;
    overflow: hidden;
    margin-bottom: 15px;
}
.profile-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custom-file input[type="file"] {
    display: none;
}

.custom-file label {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    cursor: pointer;
    color: rgb(72, 72, 72);
    text-align: center;
    padding: 12px 35px;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 3px;
}
.custom-file label:hover::after {
    width: 50%;
    right: 0;
    background: linear-gradient(to right top, #2979ff, #07a787);
    transition: all 0.3s linear;
}
.custom-file label::after {
    content: "";
    position: absolute;
    text-align: center;
    width: 0;
    height: 2px;
    color: #fff;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition: all 0.3s linear;
}
.custom-file label:hover::before {
    width: 50%;
    background: linear-gradient(to right top, #2979ff, #07a787);
    transition: all 0.3s linear;
}
.custom-file label::before {
    content: "";
    position: absolute;
    text-align: center;
    width: 0;
    height: 2px;
    color: #fff;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    transition: all 0.3s linear;
}
.profile-nav {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding-top: 15px;
}
.panel {
    border-radius: 10px;
}
.nav-stacked li a {
    color: rgb(61, 61, 61) !important;
}
.empty-profile {
    font-size: 18px;
    color: rgb(153, 153, 153);
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 0;
}
