.wrapper-tab-section {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 5px !important;
    width: 100%;
    margin: 15px auto;
    height: 590px;
}
.purchaseHistory-body {
    border-radius: 5px;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.purchaseHistory-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 450px;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(201, 201, 222, 0.15) 0px 2px 5px 0px,
        rgba(134, 134, 134, 0.05) 0px 1px 1px 0px;
}
.purchaseHistory-heading {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(158, 158, 158);
}
.purchaseHistory-body-content {
    width: 100%;
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.purchaseHistory-body-contentImg {
    width: 100px;
    height: 100px;
}
.purchaseHistory-body-contentImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.purchaseHistory-body-contentMain {
    width: 100%;
    max-width: 70%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.purchaseHistory-body-contentMainItem {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
.purchaseHistory-body-contentMainItem span {
    width: 200px;
    font-size: 15px;
    border-right: 1px solid grey;
    line-height: 1.5;
}
.purchaseHistory-body-contentMainItem p {
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;
    width: 300px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}
.purchaseHistory-body-contentMainButton {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn {
    padding: 10px 20px !important;
    outline: none !important;
    margin-bottom: 10px 0;
}
.btn-billDetail,
.btn-rateNow {
    border: 1px solid #0db0ba !important;
    color: #0db0ba;
    transition: all 0.2s linear !important;
    background: transparent;
}
.btn-billDetail:hover,
.btn-rateNow:hover {
    background: #0db0ba !important;
    color: #fff !important;
    transition: all 0.2s linear !important;
}

.btn-refuseBill {
    margin-left: 20px;
    border: 1px solid #e7555b !important;
    background: transparent;
    border: 1px solid #e7555b;
    color: #e7555b;
}
.btn-refuseBill:hover {
    background: #e7555b;
    color: #fff !important;
    transition: all 0.2s linear !important;
}
.btn-rateProduct {
    margin-bottom: 15px !important;
    border: 1px solid #c9951d !important;
    background: transparent;
    border: 1px solid #c9951d;
    color: #c9951d;
}
.btn-rateProduct:hover {
    background: #c9951d;
    color: #fff !important;
    transition: all 0.2s linear !important;
}
.btn-reBuy {
    margin-left: 20px;
    border: 1px solid #ee950f !important;
    background: transparent;
    border: 1px solid #ee950f;
    color: #ee950f;
}
.btn-reBuy:hover {
    background: #ee950f;
    color: #fff !important;
    transition: all 0.2s linear !important;
}
.tabs {
    position: relative;
    margin: 1.5rem 0;
    /* background: #49c2c2; */
    height: 17rem;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 2.275em;
    background: #49c2c2;
    border-right: 0.125rem solid #41b9b9;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
.tab-content {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
    background: #efffff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}
.tab-content-none {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(125, 122, 122);
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.modal-body-container {
    margin: 10px 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.modal-body-billDetail {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: space-between;
}
.modal-body-billDetailImg {
    width: 80px;
    height: 80px;
}
.modal-body-billDetailImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal-body-billDetailContent {
    width: 100%;
    max-width: 400px;
    word-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: rgb(103, 103, 103);
    margin-left: 15px;
}
.modal-body-billDetailContentProdName,
.modal-body-billDetailContentProdClassify {
    margin-bottom: 5px;
    font-size: 16px;
}
.modal-body-billDetailContentProdClassify,
.modal-body-billDetailContentProdPrice {
    display: flex;
    align-items: center;
}
.modal-body-billDetailContentProdClassify p {
    font-weight: 500;
}
.modal-body-billDetailContentProdPrice {
    font-weight: 600;
    font-size: 16px;
    color: #e7555b;
    line-height: 1.5;
}
.btn-close {
    outline: none !important;
    border: 1px solid rgb(213, 213, 213) !important;
    background: transparent;
    transition: all 0.2s linear;
    font-weight: 600 !important;
}
.btn-close:hover {
    color: #fff !important;
    background: rgb(255, 161, 38);
    transition: all 0.2s linear;
}
.form-group-rateTitle {
    font-size: 15px;
    color: rgb(68, 68, 68);
}
.form-group-containerDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form-group-rateDesc {
    resize: none;
    clear: left;
    height: 80px;
    color: rgb(68, 68, 68);
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    position: relative;
}
.glyphicon {
    color: rgb(251, 219, 37);
}
.glyphicon-star:before {
    color: rgb(251, 219, 37);
    outline: none;
    border: none;
}
.rating-container .caption {
    font-size: 16px !important;
} /* Rate */
.rating-container .star,
.rating-md {
    font-size: 30px !important;
}
.glyphicon-minus-sign:before {
    content: "" !important;
}
.rating-container .clear-rating {
    padding-right: 0 !important;
}
.rate-productDetail {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.rateContainer {
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.btn-rated {
    margin-top: 10px;
    margin-bottom: 15px !important;
    border: 1px solid #30c1bf !important;
    border: 1px solid #30c1bf;
    background: #30c1bf;
    color: #fff;
}
.btn-rated:hover {
    background: #30c1bf;
    color: #fff !important;
}
