.wrapper-tab-section {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 5px !important;
    width: 100%;
    margin: 0 auto;
    height: 620px;
}
.rank-body {
    border-radius: 5px;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.rank-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(201, 201, 222, 0.15) 0px 2px 5px 0px,
        rgba(134, 134, 134, 0.05) 0px 1px 1px 0px;
}
.rank-heading {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(158, 158, 158);
}
.rank-body-content {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    align-items: center;
}
.rank-body-contentImg {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.rank-body-contentImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rank-body-contentTitle {
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
    line-height: 1.3;
    height: auto;
    max-height: 50px;
    letter-spacing: 0.1px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500 !important;
    color: rgb(141, 141, 141);
}

.rank-body-contentSubTitle {
    line-height: 1.2;
    width: 320px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    color: rgb(141, 141, 141);
    /* width: 80px; */
    font-size: 16px;
    font-weight: 500;
}
.tabs {
    position: relative;
    margin: 1.5rem 0;
    background: #49c2c2;
    height: 17rem;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 2.25em;
    background: #49c2c2;
    border-right: 0.125rem solid #41b9b9;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
.tab-content {
    height: 260px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 2.6em;
    left: 0;
    padding: 0.5rem;
    background: #fff;
    color: #2c3e50;
    opacity: 0;
    transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
    background: #efffff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}
.tab-content-none {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(125, 122, 122);
    font-size: 18px;
    width: 100%;
    height: 100%;
}
.rank-point {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
.rank-point-container {
    width: 60%;
}
.rank-point-contentBottomBox {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 40px;
}
.rank-point-contentCurrentPointBoxCenter {
    position: absolute;
    content: "";
    box-shadow: rgba(35, 251, 255, 0.17) 0px -23px 25px 0px inset;
    bottom: -20px;
    padding: 10px 18px;
    border-radius: 18px;
}
.rank-point-contentCurrentPointCenter {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.2px;
    background: linear-gradient(to right, #ff2970, hsl(23, 100%, 60%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rank-point-content {
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(0, 173, 179, 0.1) 0px 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0 30px 0;
}
.rank-point-contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
}
.rank-point-contentImg {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.rank-point-contentImg img {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rank-point-contentPointAccumulation {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
    max-height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.rank-point-contentPointAccumulation input[type="range"] {
    width: 200px;
    pointer-events: none;
    accent-color: #49c2c2;
    -webkit-appearance: #49c2c2;
    border: none;
    outline: none;
}
.rank-point-contentPointAccumulation input[type="range"]::-moz-range-thumb {
    width: 200px;
    pointer-events: none;
    accent-color: #49c2c2;
    -webkit-appearance: #49c2c2;
    border: none;
    outline: none;
}
.rank-point-contentPointAccumulation input[type="range"]::-webkit-slider-thumb {
    width: 200px;
    pointer-events: none;
    accent-color: #49c2c2;
    -webkit-appearance: #49c2c2;
    border: none;
    outline: none;
}

.rank-point-contentPointAccumulationS,
.rank-point-contentPointAccumulationE {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 3px;
}
.rank-point-contentCurrentPoint,
.rank-point-contentID,
.rank-point-contentRankName {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}
.rank-point-contentID {
    font-size: 18px;
}
.rank-point-contentCurrentPoint {
    font-size: 16px;
    color: #ff668c;
}
.rank-point-contentPointAccumulationS {
    margin-right: 35px;
}
.rank-point-contentPointAccumulationE {
    margin-left: 35px;
}
