.voucher {
    padding: 20px 20px 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 5px;
}
.voucher-border {
    width: 100%;
    height: auto;
    max-height: 530px;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid rgb(248, 248, 248);
}
.voucher-heading {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(158, 158, 158);
    margin-bottom: 15px;
}
.voucher-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.voucher-body {
    padding: 15px 40px;
    border-radius: 3px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    display: flex;
    align-items: start;
    flex-direction: row;
}
.voucher-body-img {
    width: 100px;
    height: 100px;
}
.voucher-body-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.voucher-body-content {
    border-left: 1px solid rgb(205, 205, 205);
    margin-left: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.voucher-body-contentTitle {
    line-height: 1.2;
    width: 500px;
    height: 20px;
    letter-spacing: 0.1px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500 !important;
    color: rgb(158, 158, 158);
    margin-bottom: 15px;
}
.voucher-body-contentDesc {
    line-height: 1.2;
    width: 480px;
    height: 40px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgb(141, 141, 141);
}
.voucher-body-contentDate {
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
    color: rgb(174, 174, 174);
}
